html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  position: relative;
  background-color: #2b3851;
}

.robot {
  width: 320px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot-body {
  width: 320px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4em;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
}

.robot-head-left {
  right: 50%;
  top: 1em;
}

.robot-head-right {
  left: 50%;
  top: 1em;
}

.robot:hover>.robot-head-left {
  left: 38%;
  bottom: 8em;
}

.robot:hover>.robot-head-right {
  left: 54%;
  bottom: 8em;
}

.robot:hover>.robot-brain {
  top: 2rem;
}
