html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  min-height: 246px;
  position: relative;
}

.robot {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translate(-50%, 50%);
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  bottom: 6.5em;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
}

.robot-head-right {
  left: 10em;
  bottom: 3.25em;
}

.robot-head-left {
  right: 10em;
  bottom: 3.25em;
}

.robot:hover > .robot-head-right {
  left: 12.5em;
  bottom: 4em;
}

.robot:hover > .robot-head-left {
  right: 12.5em;
  bottom: 4em;
}

.robot:hover > .robot-brain {
  bottom: 8em;
}
